@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2022-09-15 12:10:31
 * @version $Id$
 */
.back{
    background: lightgray;
    font-family: "Lucida Console", "Lucida Sans Typewriter", Monaco, "Bitstream Vera Sans Mono", monospace;
    margin-left: 25%;
    margin-right: 25%;
}

.box1{
    background: lightyellow;
    padding: 5px;
    border-radius:20px ;
    margin-top: 10px;
    margin-bottom: 10px;
}

.box2{
    background: lightcoral;
    padding: 5px;
    border-radius:20px ;
    margin-top: 10px;
    margin-bottom: 10px;
}

.box3{
    background: lightgreen;
    padding: 5px;
    border-radius:20px ;
    margin-top: 10px;
    margin-bottom: 10px;
}

.head{
    line-height: 1.5;
}

a{
    color: black;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
a:active{
    color: purple;
}
a:visited{
    color: firebrick;
}